<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8" />
        <title>Accueil</title>
        <link rel="stylesheet" type="text/css" href="../static/css/accueil.css">
        <!-- <script> src = "{{url_for('static', filename='../js/accueil.js')}}" </script> -->
    </head>

    <body>
        <div class="header">
            <h1><center>Bienvenue sur la page d'accueil <br></br>pour évaluation de votre demande de prêt immobilier</center></h1>
        </div>

        <div class="main-content">
            <div class="section">
                <h2>Vous souhaitez déposé un dossier de demande de prêt immobilier pour une évaluation</h2>
                <a href="formulaire.html" class="bouton">DEPOSER UN DOSSIER</a>
            </div>

            <div class="section">
                <h2>Vous avez déjà déposé votre dossier de demande de prêt et vous souhaitez récupérer les résultats de l'évaluation</h2>
                <a href="connexion.html" class="bouton">VOIR LE RESULTAT</a>
            </div>
        </div>
    </body>
</html>