<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8" />
        <title>Confirmation de la soumission du dossier de demande de prêt</title>
        <link rel="stylesheet" type="text/css" href="../static/css/confirmation.css">
    </head>

    <body>
        <div class="container">
            <h1>Confirmation de la soumission du dossier de demande de prêt</h1>
            <div class="confirmation-content">
                <p>Votre dossier a bien été soumis à notre service d'évaluation sous le numéro de dossier suivant :</p>
                <p class="dossier-number">123456789</p>
                <p>Gardez bien ce numéro pour vous connecter la prochaine fois pour pouvoir récuperer vos résultats.</p>
                <a href="/" class="btn">RETOUR</a>
            </div>
        </div>
    </body>
</html>
