<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>Connexion</title>
        <link rel="stylesheet" type="text/css" href="../static/css/connexion.css">
    </head>

    <body>
        <div class="container">
            <h1>Connexion</h1>
            <div class="login-box">
                <form action="/resultat" method="post">
                    <label for="numerodossier">Numéro de dossier :</label>
                    <input type="text" id="numerodossier" name="numerodossier" required>

                    <input type="submit" class="btn" value="VALIDER">
                </form>
                
            </div>

        </div>
    </body>
</html>