<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8" />
        <title>Résultat disponible</title>
        <link rel="stylesheet" type="text/css" href="../static/css/disponible.css">
    </head>

    <body>
        <div class="container">
            <h1>Résultat disponible</h1>
            <div class="result-content">
                <p>REPONSE</p>
                <!--<p>Votre demande de prêt immobilier est <strong>approuvée</strong>. </p>-->
                <a href="/" class="btn">RETOUR</a>
            </div>
        </div>
    </body>
</html>
