<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8" />
        <title>Dossier introuvable</title>
        <link rel="stylesheet" type="text/css" href="../static/css/introuvable.css">
    </head>

    <body>
        <div class="container">
            <h1>Dossier introuvable</h1>
            <div class="result-content">
                <p>Votre dossier est <strong>introuvable</strong>. Veuillez vérifier votre saisie de votre numéro de dossier.</p>
                <a href="connexion.html" class="btn">RETOUR</a>
            </div>
        </div>
    </body>
</html>