<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8" />
        <title>Résultat non disponible</title>
        <link rel="stylesheet" type="text/css" href="../static/css/traitement.css">
    </head>

    <body>
        <div class="container">
            <h1>Résultat non disponible</h1>
            <div class="result-content">
                <p>Votre demande de prêt immobilier est <strong>en cours d'évaluation</strong>. Veuillez réessayer ultérieurement.</p>
                <a href="/" class="btn">RETOUR</a>
            </div>
        </div>
    </body>
</html>